section.calculator {
	.section_content {
		display: grid;
		grid-template-columns: minmax(400px, 700px) minmax(300px, 500px);
		gap: 70px 10px;

		.text {
			max-width: 600px;
			padding-right: 50px;

			.description {
				@include paragraph();
				position: relative;
				margin-top: 50px;
				line-height: 30px;
				font-size: 24px;
			}
		}

		.works {
			display: block;
			align-self: flex-start;
			width: 100%;
			min-height: 200px;
			padding: 30px;
			line-height: 42px;
			font-size: 32px;
			font-weight: 700;
			color: $colorTextPrimary;
			background: url('/img/works.jpg');
			background-repeat: no-repeat;
			background-position: bottom center;
			background-size: cover;
			transition: $transition;

			&:hover {
				box-shadow: inset 0 0 10px 10px $colorPanel;
			}
		}

		.form_calculator {
			width: 100%;
			padding: 50px;
			color: $colorTextSecondary;
			background: $colorTextPrimary;

			.form_title {
				line-height: 50px;
				font-size: 40px;
				font-weight: 600;
			}

			.question_block {
				margin-top: 50px;

				.question_title {
					margin-bottom: 10px;
					color: $colorTextTertiary;
				}

				.answers_list {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					gap: 20px;

					.square_range {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						width: 100%;
						max-width: 450px;
					}

					.square_input {
						display: flex;
						flex-wrap: nowrap;
						align-items: center;
						gap: 4px;
					}
				}
			}

			.button {
				margin: 50px auto 0;
			}
		}

		.actions {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			align-self: flex-start;
			gap: 30px;

			button {
				flex: 1 1 250px;
				max-width: 350px;
				padding: 30px;
				line-height: 36px;
				font-size: 26px;
				color: $colorTextPrimary;
				background: none;
				border: 1px solid $colorPrimary;
				transition: $transition;

				&:hover {
					color: $colorPrimary;
				}
			}
		}

		@include mediaScreen(0, $tablet-landscape) {
			grid-template-columns: 1fr;

			.text {
				max-width: unset;
				padding-right: 0;
			}

			.actions {
				justify-content: space-around;
			}
		}
	}
}