section.calculator {
	.section_content {
		.text {

		}

		.works {

		}

		.form_calculator {
			width: 100%;
			max-width: 100%;
			background: $colorWhite;
			color: $colorTextSecondary;

			.form_title {

			}

			.question_block {
				.question_title {
					color: $colorTextTertiary;
				}
			}
		}
	}
}