section.main {
	padding: calc(150px + $headerHeight) 0 150px;
	background: url('/img/main-bg.jpg');
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;

	.section_content {
		max-width: 900px;
		
		h4 {
			margin-top: 20px;
			line-height: 36px;
			font-size: 26px;
		}

		.actions {
			display: flex;
			flex-wrap: wrap;
			margin-top: 60px;
			gap: 10px 100px;
		}
	}

	@include mediaScreen(0, $tablet-portrait) {
		padding: calc(50px + $headerHeight) 0 50px;

		.section_content {
			h4 {
				margin-top: 10px;
				line-height: 26px;
				font-size: 18px;
			}
	
			.actions {
				display: flex;
				flex-wrap: wrap;
				margin-top: 30px;
				gap: 10px 100px;
			}
		}
	}
}