.modal_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    transition: $transition;
    z-index: -1;
    opacity: 0;

    &.open {
        visibility: visible;
        z-index: 11;
        opacity: 1;

        .modal {
            opacity: 1;
        }
    }

    .modal {
        width: 100%;
        max-width: 750px;
        margin: 20px;
        padding: 30px 30px;
        background: $colorPanel;
        transition: $transition;
        transition-delay: $transition;
        opacity: 0;

        &_title {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            gap: 10px;

            span {
                line-height: 30px;
                font-size: 26px;
            }
        }

        &_close {
            position: relative;
            display: block;
            width: 30px;
            height: 20px;
            color: $burgerColor;
            z-index: 102;
            cursor: pointer;
    
            &:before,
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background: currentColor;
                transition: $transition;
            }
    
            &:before {
                top: 8px;
                transform: rotate(45deg);
            }
    
            &::after {
                bottom: 10px;
                transform: rotate(-45deg);
            }
    
            span {
                position: absolute;
                top: 9px;
                right: 0;
                width: 100%;
                height: 2px;
                background: currentColor;
                transform: scale(0);
            }
    
            &:hover {
                color: $burgerActiveColor;
            }
        }

        &_desc {
            margin-top: 20px;
        }

        &_form {
            margin-top: 20px;
        }

        .button {
            justify-self: end;
        }
    }
}