.accordion {
    .accordion_item {
        &:not(:last-child) {
            border-bottom: 1px solid $colorTextSecondary;
        }

        &.active {
            .toggle_icon {
                transform: rotateX(180deg);
            }

            .accordion_content {
                display: block;
            }
        }


        .accordion_toggle {
            display: flex;
            padding: 20px 0;
            align-items: center;
            cursor: pointer;

            .toggle_num {
                margin-right: 10px;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: $colorPrimary;
            }

            .toggle_text {
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 28px;
                color: $colorTextSecondary;
                margin-left: 10px;
            }

            .toggle_icon {
                margin-left: auto;
                height: 0;
                border: 0 solid transparent;
                border-right-width: 12px;
                border-left-width: 12px;
                border-bottom: 12px solid $colorPrimary;
                transition: $transition;
            }
        }

        .accordion_content {
            padding-bottom: 20px;
            display: none;
            animation: fade .3s ease;

            .text {
                font-size: 16;
                line-height: 20px;
                margin-top: 26px;
                color: $colorTextSecondary;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

}