.arrow {
	--arrow-color: #8597AB;
	// --arrow-end-color: #8597AB;
	// --width-arrow-line: 0;
	// --height-arrow-line: 0;

	position: relative;
	background: var(--arrow-color);

	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	background: $colorPrimary;
	// }

	&::after {
		content: '';
		position: absolute;
		display: block;
		width: 16px;
		height: 16px;
		transition: 0.4s;
	}

	&.gorizontal {
		height: 2px;
		width: 100%;
		min-width: 30px;
		margin: 10px 0;

		// &::before {
		// 	height: 100%;
		// 	width: var(--width-arrow-line);
		// }

		&::after {
			right: 1px;
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
			border-top: 2px solid var(--arrow-color);
			border-right: 2px solid var(--arrow-color);
		}
	}

	&.vertical {
		width: 2px;
		height: 100%;
		min-height: 30px;
		margin: 0 10px;

		// &::before {
		// 	width: 100%;
		// 	height: var(--height-arrow-line);
		// }

		&::after {
			left: 50%;
			bottom: 1px;
			transform: translateX(-50%) rotate(45deg);
			border-right: 2px solid var(--arrow-color);
			border-bottom: 2px solid var(--arrow-color);
		}
	}
}