
.link {
	position: relative;
	display: block;
	color: $colorTextSecondary;
	transition: $transition;

	&:hover {
		color: $colorTextPrimary;
	}

	&.bordered {
		padding: 10px 20px;

		&:after,
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background: $colorTextPrimary;
			transition: $transition;
			opacity: 0;
		}

		&:before {
			width: 1px;
			height: 0;
		}

		&:after {
			width: 0;
			height: 1px;
		}
	}

	&:hover {
		&:after,
		&:before {
			opacity: 1;
		}

		&:before {
			height: 20px;
		}

		&:after {
			width: 30px;
		}
	}
}
