.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	padding: 10px 30px;
	line-height: 26px;
	font-size: 20px;
	text-align: center;
	color: $colorTextPrimary;
	background-color: $colorPrimary;
	transition: $transition;
	cursor: pointer;

	&:hover {
		background-color: $colorSecondary;
	}

	&.big {
		min-height: 70px;
	}

	&.fluid {
		width: 100%;
	}

	&.wide {
		min-width: 260px;
	}
}


.nav-link {
	position: relative;
	display: block;
	padding: 10px 20px;
	color: $colorTextPrimary;
	transition: $transition;

	&.no_wrap {
		white-space: nowrap;
	}
	
	&:after,
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		background: $colorTextPrimary;
		transition: $transition;
		opacity: 0;
	}

	&:before {
		width: 1px;
		height: 0;
	}

	&:after {
		width: 0;
		height: 1px;
	}

	&:hover {
		color: $colorSecondary;

		&:after,
		&:before {
			opacity: 1;
		}

		&:before {
			height: 20px;
		}

		&:after {
			width: 30px;
		}
	}
}

.link {
	position: relative;
	display: block;
	padding: 10px 0;
	color: $colorTextPrimary;
	transition: $transition;
	cursor: pointer;

	&:hover {
		color: $colorSecondary;
	}
}
