// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    .no_container {
        display: block;
        margin-right: -($containerPadding + px);
        margin-left: -($containerPadding + px);
    
        .container_wrap {
          padding-right: $containerPadding + px;
          padding-left: $containerPadding + px;
        }
    }
}

// Body Locked
body {
    &.locked {
        overflow: hidden;
    }
}

// Body
body {
    font-family: 'Montserrat', sans-serif;
    color: $colorTextPrimary;
}

//Section 
.section_title {
    font-size: 48px;
    line-height: 62px;
    font-weight: 700;

    .upper {
        text-transform: uppercase;
    }

    .dark {
        color: $colorTextSecondary;
    }
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
