// Container
.container {
    width: 100%;
    max-width: ($containerWidth + $containerPadding) + px;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    .no_container {
        display: block;
        margin-right: -($containerPadding + px);
        margin-left: -($containerPadding + px);
    
        .container_wrap {
          padding-right: $containerPadding + px;
          padding-left: $containerPadding + px;
        }
    }
}

// Body Locked
body {
    &.locked {
        overflow: hidden;
    }
}

// Body
body {
    @include scrollbar(6px, 6px, $colorPanel, $colorPanel, $colorPrimary, 2px, 2px, 2px);
    font-family: 'Montserrat', sans-serif;
    color: $colorTextPrimary;
}

//Section 
section {
    &.dark {
        padding: 100px 0;
        background-color: $colorPanel;
    }

    &.space-top {
        margin-top: 100px;
    }

    .section_title {
        margin-bottom: 50px;
        line-height: 52px;
        font-size: 38px;
        font-weight: 700;

        p {
            font-weight: 400;
        }
    
        &.upper {
            text-transform: uppercase;
        }
    
        &.dark {
            color: $colorTextSecondary;
        }
    }

    .section_description {
        @include paragraph();
        line-height: 30px;
        font-size: 24px;
    }
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
