// Header

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	backdrop-filter: blur(6px);

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: $headerHeight;

		.logo {
			display: block;
			height: 100%;
			justify-self: center;

			img {
				display: block;
				height: 100%;
			}
		}

		.menu {
			display: flex;
	
			// .menu__item-link
			&__item-link {
				padding: 10px 20px;
				font-size: 20px;

				&:after,
				&:before {
					left: 6px;
				}
			}
		}

		.burger {
			display: none;
			cursor: pointer;
		}
	}

	@include mediaScreen(0, $tablet-landscape) {
		.navbar {
			.menu {
				display: none;
			}

			// .burger
			.burger {
				position: relative;
				display: block;
				width: 30px;
				height: 20px;
				color: $burgerColor;
				transition: $transition;
				z-index: 102;
				cursor: pointer;


				&:before,
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 2px;
					background: currentColor;
				}

				&:before {
					top: 0;
				}

				&::after {
					bottom: 0;
				}

				span {
					position: absolute;
					top: 9px;
					right: 0;
					width: 100%;
					height: 2px;
					background: currentColor;
				}

				&:hover {
					color: $burgerActiveColor;
				}
			}
		}
	}
}
	
