// Breakpoints
$phone: 576;
$tablet-portrait: 768;
$tablet-landscape: 1024;
$desktop: 1200;
$desktop-wide: 1921;
// -------------------

//Colors
$colorPrimary: #CBBBA8;
$colorWhite: #FFFFFF;
$colorBlack: #000000;

$colorTextPrimary: #2E201A;
$colorTextSecondary: #4E3B32;

// Container
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
// -------------------

// Aside
$burgerColor: $colorTextSecondary;
$burgerActiveColor: $colorTextPrimary;
$asideOverlayColor: rgba($colorBlack, .8);
// -------------------

// Fonts
$fontMain: "Roboto", sans-serif;
// -------------------

// Animation
$transition: 0.2s;
// -------------------

// Other
$borderRadius: 22px
// -------------------