// Breakpoints
$phone: 576;
$tablet-portrait: 768;
$tablet-landscape: 1024;
$desktop: 1200;
$desktop-wide: 1921;
// -------------------

//Colors
$colorPrimary: #FF4C00;
$colorSecondary: #FB7405;
$colorPanel: #1D2228;
$colorWhite: #FFFFFF;
$colorBlack: #000000;

$colorTextPrimary: $colorWhite;
$colorTextSecondary: #282828;
$colorTextTertiary: #999999;
$colorTextQuaternary: #8597AB;

// Container
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
// -------------------

// Header
$headerHeight: 80px;
// -------------------

// Aside
$burgerColor: $colorTextPrimary;
$burgerActiveColor: $colorPrimary;
$asideOverlayColor: rgba($colorBlack, .8);
// -------------------

// Fonts
$fontMain: "Roboto", sans-serif;
// -------------------

// Animation
$transition: 0.2s;
// -------------------

// Other
$borderRadius: 22px
// -------------------