.accordion {
    .accordion_item {
        border-bottom: 1px solid#C4C4C4;

        &.active {
            .accordion_content {
                display: block;
            }
        }


        .accordion_toggle {
            display: flex;
            padding: 20px 0;
            align-items: center;
            cursor: pointer;

            .toggle_num {
                margin-right: 10px;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.035em;
                color: #8547C6;
            }

            .toggle_text {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.035em;
                color: #000000;
                margin-left: 10px;
            }

            .toggle_img {
                position: relative;
                margin-left: auto;
            }
        }

        .accordion_content {
            padding-bottom: 20px;
            display: none;
            animation: fade .3s ease;

            .text {
                margin-top: 25px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

}