<!-- Accordion -->
<div class="accordion">
    <div accordion-item class="accordion_item">
        <div accordion-toggle class="accordion_toggle">
            <div class="toggle_num">01</div>
            <div class="toggle_text">Аккордеон триггер</div>
            <div class="toggle_icon"></div>
        </div>
        <div class="accordion_content">
            <div class="text">Какой-то рандомный текст для аккордеона</div>
        </div>
    </div>

    <div accordion-item class="accordion_item">
        <div accordion-toggle class="accordion_toggle">
            <div class="toggle_num">01</div>
            <div class="toggle_text">Аккордеон триггер</div>
            <div class="toggle_icon"></div>
        </div>
        <div class="accordion_content">
            <div class="text">Какой-то рандомный текст для аккордеона</div>
        </div>
    </div>

    <div accordion-item class="accordion_item">
        <div accordion-toggle class="accordion_toggle">
            <div class="toggle_num">01</div>
            <div class="toggle_text">Аккордеон триггер</div>
            <div class="toggle_icon"></div>
        </div>
        <div class="accordion_content">
            <div class="text">Какой-то рандомный текст для аккордеона</div>
        </div>
    </div>
</div>